.App {
  min-height: 100vh;
  padding: 36px 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 5e-5) 49.88%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("/Background.png");
}
.App > .title {
  font-family: "Exo2.0";
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 1px 1px #000000;
  margin-bottom: 31px;
}
.cards {
  margin: auto;
  width: max-content;
  gap: 40px 80px;
}
body {
  margin: 0;
}

@media (min-width: 1025px) {
  .cards {
    display: flex;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cards > *:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (min-resolution: 2dppx) {
  .cards {
    display: flex;
    flex-direction: column;
  }
}
